*{
	margin: 0px;
	padding: 0px;
	border: 0px	;
	box-sizing: border-box;
}
/*common css*/
h1,h2,h3,h4,h5,h6,p{
	font-family: 'Open Sans', sans-serif;
	
}
p{
	font-size: 23px;
	
}

.img-fluid{
	height: 800px;
	width: 100%;
}
.banner{
	position: relative;
}
.social_icon{
	position: absolute;
	top: 2%;
	left: 3.5%;
}
.social_icon i{
	color: white;
	padding: 0px 17px;
	cursor: pointer;
}
.careers,.help_desk,.login{
	text-transform: uppercase;	
	font-size: 12px !important;
	cursor: pointer;
	padding: 0px 15px !important;
}
.address{
	position: absolute;
	right: 4.7%;
	top: 2%;
}
.address h6{
	color: white;
	padding: 0px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
	margin: 0px !important;
	display: inline-block;
}
.address a{
	color: white;
	text-decoration: none;
}

.banner_menu{
	background-color: #fdca00;
	position: absolute;
	height: 100px;
	top: 8%;
	width: 90%;
	left: 4.9%;
}
.img-thumbnail{
	margin-top: 1.7%;
}
#nav{
	position: absolute;
	right: 50px;
	top: -7px;
}
#nav li{
	line-height: 100px;
}
#nav a{
	font-family: 'Lora', serif;
	font-size: 1.3em;
	color: white;
}
/*mobile-nav*/
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 28px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
span i{
	color: white;
	font-size: 2em;
	position: absolute;
	top: 16%;
	right: 7%;
	cursor: pointer;
	display: none !important;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}


.desc h1{
	position: absolute;
	top: 35%;
	left: 80px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	word-spacing: 20px;
	font-size: 3.3em;
	line-height: 80px;
}
.desc hr{
	height: 4px;
	width: 200px;
	color: #fdca00;
	position: absolute;
	top: 56%;
	left: 75px;
	padding: 0px !important;
	margin: 0px !important;	
}
.desc h6{
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	top: 60%;
	text-transform: uppercase;
	padding: 0px !important;
	margin: 0px !important;
	left: 77px;
	word-spacing: 2px;
	line-height: 28px;
}
#banner_btn{
	position: absolute;
	top: 75%;
	left: 80px;
}
#banner_btn button{
	padding: 10px 16px;
	color: #fdca00;
	background-color: white;
	margin-right: 30px;
	height: 50px;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	font-size: 14px;
}

#learn_btn{
	background-color: #fdca00;
	color: white;
	outline: none;
	border: none;
}
#get_started{
	width: 200px;
	height: 50px;
	margin-left: 0px;
	font-family: 'Lora', serif;
	font-size: 14px;
}
#get_started:hover{
	background-color:  #fdca00;
	color: white;
}
#learn_btn:hover{
	background-color:  #fdca00;
	color: white;
}
.card{
	background-color: #fde68d;
	position: relative;
	top: -40px;
	padding: 0px !important;
}
.card-body h5{
	color: #000000;
	font-family: 'Lora', serif;
	text-transform: uppercase;
	font-weight: bold;
}
.card-body p{
	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	color: #000000;
	font-size: 16px;
	word-wrap: break-word;
	padding-top: 10px;
}
#serv{
	font-family: 'Open Sans', sans-serif !important;
	color: #000000;
	text-transform: uppercase;
	margin-left: 15%;
	margin-top: 25px;
	font-weight: bold;
}
#bar{
	margin-top: 2%;
	margin-left: 15%;
}
.desc{
	color: #fdca00;
	text-transform: capitalize;
	margin-left: 18%;
	margin-top: -16%;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
	word-spacing: 4px;
}
.list{
	margin-left: 12.5%;
}
.list ul{
	color: black;
	font-family: 'Lora', serif;
	text-transform: capitalize;
	line-height: 60px;
	word-spacing: 4px;
}
#button{
	margin-left: 15%;
	margin-top: 1%;
}
#button button{
	text-transform: capitalize;
	width: 150px;
	height: 50px;
	font-family: 'Lora', serif;
	font-size: 19px;
}
#services{
	position: relative;
}
#services .img-fluid{
	height: 400px;
	padding: 0px !important;
	margin: 0px !important;
}
#services h5{
	position: absolute;
	top: 40px;
	left: 30%;
	text-transform: capitalize;
	color: #fca600;
	font-family: 'Lora', serif;
	word-spacing: 5px;
}
#services h2{
	font-family: 'Lora', serif;
	text-transform: capitalize;
	position: absolute;
	top: 90px;
	left: 18%;
	word-spacing: 5px;
	color: white;
}
#services p{
	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	word-spacing: 5px;
	position: absolute;
	top: 37%;
	font-size: 17px;
	left: 25%;
	line-height: 25px;
	color: white;
}
#services span{
	left: 20%;
	position: absolute;
	padding-top: 10px;
}
#services button{
	position: absolute;
	top: 70%;
	left: 40%;
	padding-bottom: 12px;
	text-transform: capitalize;
	width: 20%;
	background-color: inherit;
	border: 4px solid #fdca00;
	outline: none;
}
.projects{
	background-color: #949494;
	height: 500px;
}
.projects p{
	color: #fdca00;
	text-transform: capitalize;
	font-size: 15px;
	text-align: center;
	margin-top: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	word-spacing: 3px;
}
.projects h4{
	text-transform: capitalize;
	text-align: center;
	margin-top: 0px;
	font-family: 'Lora', serif;
	font-weight: bold;
	word-spacing: 4px;
	line-height: 35px;
}
.projects img{
	height: 50%;
	margin-top: 13%;
	border: 5px solid #fdca00;
	border-radius: 10%;
}
.subscribe{
	position: relative;
}
.subscribe img{
	height: 550px;
}
.subscribe p{
	color: #fdca00;
	position: absolute;
	top: 10px;
	padding-top: 15px;
	left: 22%;
	font-weight: bold;
	text-transform: capitalize;
	text-shadow: 2px 2px 5px black;
	font-size: 20px;
}
.subscribe h3{
	position: absolute;
	top: 20%;
	left: 28%;
	font-weight: bold;
	text-transform: capitalize;
	font-family: 'Lora', serif;
	word-spacing: 7px;
	text-shadow: 2px 2px 5px black;
	color: white;
}
.subscribe span{
	padding-left: 70px;
	line-height: 40px;

}
.form-control{
	width: 21%;
	height: 60px;
	background-color: white;
	position: absolute;
	top: 40%;
	left: 30%;
	outline: none;
	font-family: 'Lora', serif;
}
#btn1{
	width: 14%;
	background-color: #fdca00;
	outline: none;
	border: 0px;
	position: absolute;
	top: 40%;
	left: 53%;
	padding: 14px;
	margin: 0px !important;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	font-weight: bold;
}
.subscribe h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	position: absolute;
	bottom: 6%;
	left: 30px;
	padding-left: 20px;
	word-spacing: 7px;
	line-height: 32px;
	color: white;
}
#btn2{
	outline: none;
	border: 0px;
	position: absolute;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	font-weight: bold;
	width: 14%;
	bottom: 6%;
	right: 6%;
	background-color: #0d004c;
	padding: 15px;
}
footer{
	background-color: #0d004c;
}
footer p{
	font-size: 19px;
	font-family: 'Lora', serif;
	padding-top: 23px;
	margin-left: -30px;
	text-transform: capitalize;
}
footer img{
	margin-top: 26%;
}
footer p{
	padding-top: 40px;
	font-size: 18px;
}
#foo_title{
	margin-top: 45%;
	padding-left: 8%;
	font-family: 'Lora', serif;
	color: white;
}
.foo_desc{
	color: white;
}
#foo{
	padding-top: 14px !important;
	text-decoration: none;
	padding-left: 8%;
}
#foo li a{
	text-decoration: none;
	font-family: 'Lora', serif;
}
#foo_title1{
	margin-top: 45%;
	text-transform: uppercase;
	font-family: 'Lora', serif;	
	color: white;
}
#foo1{
	padding-top: 14px !important;
}
#foo1 li a{
	text-decoration: none;
	font-family: 'Lora', serif;
	text-transform: capitalize;
}
#foo_title2{
	margin-top: 45%;
	text-transform: uppercase;
	margin-left: 25%;
	margin-bottom: 20px;
	font-family: 'Lora', serif;
	color: white;
}
#foo_title2 iframe{
	width: auto;
}
.copyright{
	color: white;
	font-family: 'Lora', serif;
	text-align: center;
}
.copyright p,i{
	font-size: 12px;
	text-transform: capitalize;
}

